db_password           = "A_STRONG_PASSWORD"
jwt_secret            = "tobemodified"
admin_jwt_secret      = "tobemodified"
app_keys              = "toBeModified1,toBeModified2"
api_token_salt        = "tobemodified"
